@(disciplines: List[Discipline])

@import helper._

@main() {

    <h1>Dashboard</h1>

    <div class="row">
        <div class="large-6 columns">
            <div id="disciplines"></div>
        </div>
        <div class="large-6 columns">
            // TODO: Prazo das próximas etapas a entregar
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            // TODO: Ultimos trabalhos adicionados pelo professor
        </div>
        <div class="large-6 columns">
            // TODO: últimas notas
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            // TODO: Estatísticas
        </div>
    </div>

<script>

    var disciplines = [];
    @for(discipline <- disciplines) {
        disciplines.push({
            discipline: "@discipline.code",
            year: "@discipline.year"
        });
    };


    $("#disciplines").kendoGrid({
        columns: [
            { title: "Disciplina", field: "discipline" },
            { title: "Ano", field: "year"}
        ],
        dataSource: disciplines,
        sortable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        }
    });
</script>
}
