@(user: User, discipline: Discipline, projectsDiscipline: List[Project], milestonesDiscipline: List[Milestone], nextDeliveryMilestones: List[Milestone])

@main(user) {

    <h2>Disciplina: <b>@discipline.name</b></h2>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel radius">
                <h3>Informação</h3>
                <div class="row">
                    <div class="large-2 columns">
                        <label>Código da Disciplina:
                            <p>@discipline.code</p>
                        </label>
                    </div>
                    <div class="large-4 columns">
                        <label>Nome da Disciplina
                            <p>@discipline.name</p>
                        </label>
                    </div>
                    <div class="large-4 columns">
                        <label>Curso da Disciplina
                            <p>@discipline.course.description</p>
                        </label>
                    </div>
                    <div class="large-2 columns">
                        <label>Ano Lectivo:
                            <p>@discipline.year</p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-12">
            <a href="/dashboard/discipline/@{discipline.id}/project/new/" class="button tiny radius">Ver todos os alunos</a>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h3>Últimos Trabalhos</h3>
            <div id="projects"></div>
            <br />
            <a href="/dashboard/discipline/@{discipline.id}/project/new/" class="button tiny radius">Criar novo Projeto</a>
        </div>
        <div class="large-6 columns">
            <h3>Todas as Etapas</h3>
            <div id="milestones"></div>
            <br />
            <a href="#" class="button tiny radius">Criar nova Etapa</a>
        </div>
        <div class="large-6 columns">
            <h3>Próximas entregas</h3>
            <div id="nextMilestones"></div>
            <br />
            <a href="#" class="button tiny radius">Notificar Grupos/Alunos que não entregaram</a>
        </div>
    </div>
    <script>

    var projects = [];
        @for(lastProject <- projectsDiscipline) {
            projects.push({
            projectname: "@lastProject.code",
            startDate: "@lastProject.startDate.format("YYYY-MM-dd")",
            endDate: "@lastProject.endDate.format("YYYY-MM-dd")",
            id_project: "@lastProject.id",
            id_discipline: "@discipline.id"
            });
        };

    $("#projects").kendoGrid({
    columns: [
    {width:50,  title: "Projecto", field: "projectname", template: "<a href='/dashboard/discipline/${id_discipline}/project/${id_project}'>${projectname}</a>" },
    {width:35,  title: "Início",    field: "startDate", filterable: { ui: "datetimepicker" }, attributes: {"class": "table-cell", style: "text-align: center; font-size: 14px"}},
    {width:35,  title: "Entrega",  field: "endDate", filterable: { ui: "datetimepicker" }, attributes: {"class": "table-cell", style: "text-align: center; font-size: 14px"}}
    ],

    dataSource: {
    data:projects
    },
    height:150,
    sortable: true,
    filterable: true
    });


    var milestones = [];
        @for(milestone <- milestonesDiscipline) {
            milestones.push({
            id_milestone: "@milestone.id",
            id_project: "@milestone.project.id",
            id_discipline: "@milestone.project.discipline.id",
            projectname: "@milestone.project.code",
            milestone: "@milestone.code",
            endDate: "@milestone.endDate.format("YYYY-MM-dd")"
            });
        };

    $("#milestones").kendoGrid({
    columns: [
    {width:45,  title: "Projecto", field: "projectname", template: "<a href='/dashboard/discipline/${id_discipline}/project/${id_project}'>${projectname}</a>" },
    {width:35,  title: "Etapa",    field: "milestone", template: "<a href='/dashboard/project/${id_project}/milestone/${id_milestone}'>${milestone}</a>" },
    {width:30,  title: "Entrega",  field: "endDate", filterable: { ui: "datetimepicker" }}
    ],

    dataSource: {
    data:milestones
    },
    height:250,
    sortable: true,
    filterable: true
    });



    var nextMilestones = [];
        @for(milestone <- nextDeliveryMilestones) {
            nextMilestones.push({
            id_milestone: "@milestone.id",
            id_project: "@milestone.project.id",
            id_discipline: "@milestone.project.discipline.id",
            projectname: "@milestone.project.code",
            milestone: "@milestone.code",
            endDate: "@milestone.endDate.format("YYYY-MM-dd")"
            });
        };

    $("#nextMilestones").kendoGrid({
    columns: [
    {width:45,  title: "Projecto", field: "projectname", template: "<a href='/dashboard/discipline/${id_discipline}/project/${id_project}'>${projectname}</a>" },
    {width:35,  title: "Etapa",    field: "milestone", template: "<a href='/dashboard/project/${id_project}/milestone/${id_milestone}'>${milestone}</a>" },
    {width:30,  title: "Entrega",  field: "endDate", filterable: { ui: "datetimepicker" }}
    ],

    dataSource: {
    data:nextMilestones,
    },
    height:250,
    sortable: true,
    filterable: true
    });

    </script>
}
