@(user: User, project: Project, allMilestones: List[Milestone], nextDeliveryMilestones: List[Milestone])

@main(user) {
    <h2>Projeto: <b>@project.title</b></h2>

    <div class="small-centered columns">

        <dl class="tabs" data-tab>
            <dd class="active"><a href="#ident">Identificação</a></dd>
            <dd><a href="#milestones_panel">Milestones</a></dd>
            <dd><a href="#students_panel">Alunos</a></dd>
            <dd><a href="#groups_panel">Grupos</a></dd>
        </dl>

        <div class="tabs-content">
            <div class="content active" id="ident">
                <div class="panel radius">
                    <h3>Informação</h3>
                    <div class="row">
                        <div class="large-2 medium-6 columns">
                            <label>Projeto da disciplina:
                                <p><a href="/dashboard/discipline/@{project.discipline.id}">@project.discipline.name</a></p>
                            </label>
                        </div>
                        <div class="large-4 medium-6 columns">
                            <label>Número de etapas
                                <p>@project.milestones.size()</p>
                            </label>
                        </div>
                        <div class="large-4 medium-6 columns">
                            <label>Curso
                                <p>@project.discipline.course.description</p>
                            </label>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <label>Ano Lectivo:
                                <p>@project.discipline.year</p>
                            </label>
                        </div>
                        <div class="large-12 columns">
                            <label><b>Descrição</b>
                                <p class="panel callout radius">
                                @if(project.description == null || project.description.equals("")){
                                    Nenhuma descrição acerca do projeto.
                                }else{
                                    @project.description
                                }
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content" id="milestones_panel">
                <div class="panel radius">
                    <div id="all_milestones"></div>
                </div>
            </div>

            <div class="content" id="students_panel">
                <div class="panel radius">
                    <div id="all_students"></div>
                </div>
            </div>

            <div class="content" id="groups_panel">
                <div class="panel radius">
                    <div id="all_groups"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="large-12 columns">
            <a href="@{routes.DashboardTeacher.updatingProject(project.id)}" class="button tiny radius">Editar Projeto</a>
            <a href="@{routes.Dashboards.showDiscipline(project.discipline.id)}" class="button tiny radius">Voltar à Disciplina</a>
        </div>
    </div>

    <h3>Milestones</h3>
    <div class="row">
        <div class="large-12 columns">
            <dl class="accordion" data-accordion>
            @for(milestone <- allMilestones){
                <dd>
                    <a href="#milestone-@{milestone.id}"><b>@{milestone.number}ª Milestone:</b> @{milestone.code} ( De <b>@{milestone.getStartDate().format("YYYY-MM-dd")}</b> até <b>@{milestone.getEndDate().format("YYYY-MM-dd")}</b> )</a>
                    <div id="milestone-@{milestone.id}" class="content @if(milestone.startDate.before(new Date()) && milestone.endDate.after(new Date())){ active }">
                        <div class="row panel radius">
                            <div class="large-6 columns text-center">
                                <label><b>Data de início</b>: @milestone.startDate.format("YYYY-MM-dd")</label>
                            </div>
                            <div class="large-6 columns text-center">
                                <label><b>Data de fim</b>: @milestone.endDate.format("YYYY-MM-dd")</label>
                            </div>
                            <br/>
                            <hr/>
                            <div class="large-12 columns">
                                <label>
                                    <b>Descrição</b>:
                                    <p class="panel callout radius">@milestone.description</p>
                                </label>
                            </div>
                            <div class="large-6 columns text-center">
                                <p><b>Enunciado</b>:</p>
                                @if(milestone == null || milestone.path == null || milestone.path.equals("")){
                                    <div data-alert class="alert-box warning radius">Nenhum ficheiro submetido pelo professor.</div>
                                }else{
                                    <a href="@{milestone.path}">Descarregar ficheiro da etapa.</a> <br />
                                }
                            </div>
                            <div class="large-6 left columns text-center">
                                <p><b>Últimas entregas</b>:</p>
                                TODO
                            </div>
                            <div class="large-6 right columns">
                                <p class="right">
                                    <a href="/dashboard/project/@{milestone.project.id}/milestone/@{milestone.id}/edit" class="button tiny radius">Editar Etapa</a> <a href="/dashboard/project/@{milestone.project.id}/milestone/@{milestone.id}" class="button tiny radius">Ver toda a Etapa</a></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </dd>
            }
            </dl>
            <br/>
            <a href="/dashboard/discipline/@{project.discipline.id}/project/@{project.id}/milestone/new" class="button tiny radius">Criar nova Etapa</a>
        </div>

    </div>

    <script>
    var milestones = [];
        @for(milestone <- allMilestones) {
            milestones.push({
            id_milestone: "@milestone.id",
            id_project: "@milestone.project.id",
            id_discipline: "@milestone.project.discipline.id",
            projectname: "@milestone.project.code",
            milestone: "@milestone.code",
            initDate: "@milestone.startDate.format("YYYY-MM-dd")",
            endDate: "@milestone.endDate.format("YYYY-MM-dd")"
            });
        };

    $("#all_milestones").kendoGrid({
    columns: [
    {width:35,  title: "Etapa",    field: "milestone", template: "<a href='/dashboard/project/${id_project}/milestone/${id_milestone}'>${milestone}</a>" },
    {width:30,  title: "Início",  field: "initDate", filterable: { ui: "datetimepicker" }},
    {width:30,  title: "Entrega",  field: "endDate", filterable: { ui: "datetimepicker" }}
    ],

    dataSource: {
    data:milestones
    },
    height:250,
    sortable: true,
    filterable: true
    });

    var allStudents = [];
        @for(student <- project.students){
            allStudents.push({
                photo: "",
                code: "@{student.student.code}",
                name: "@{student.student.name}",
                avaliation: "@{student.avaliation}"
            });
        };

    $("#all_students").kendoGrid({
    columns: [
    {width:50,  title: "Foto", field: "photo" },
    {width:35,  title: "Código",    field: "code", style: "text-align: center; font-size: 14px"},
    {width:35,  title: "Nome",  field: "name", attributes: {"class": "table-cell", style: "text-align: center; font-size: 14px"}},
    {width:35,  title: "Avaliação",  field: "avaliation", attributes: {"class": "table-cell", style: "text-align: center; font-size: 14px"}}
    ],
    dataSource: {
    data: allStudents
    },

    height: 250,
    sortable: true,
    filterable: true
    });

    var allGroups = [];
        @for(student <- project.groups){
            var namesGroups = "";
                @for(groupStudent <- student.group.students){
                    namesGroups += @groupStudent.name + ", "
                }
            allStudents.push({
            code: "@{student.group.code}",
            name: namesGroups
            });
        };

    $("#all_groups").kendoGrid({
    columns: [
        {width:35,  title: "Código",    field: "code", style: "text-align: center; font-size: 14px"},
        {width:35,  title: "Nomes",  field: "name", attributes: {"class": "table-cell", style: "text-align: center; font-size: 14px"}},
    ],
    dataSource: {
    data: allGroups
    },

    height: 250,
    sortable: true,
    filterable: true
    });
    </script>
}