@(user: User, disciplines: List[Discipline], milestones: List[Milestone], lastProjects: List[Project], lastAvaliations: List[StudentMilestone])

@main(user) {

    <h2>Dashboard</h2>

    <div class="row">
        <div class="large-6 columns">
            <ul>
                <li><h4>Disciplinas Frequentadas</h4></li>
                <div id="disciplines"></div>
            </ul>
        </div>
        <div class="large-6 columns">
            <ul>
                <li><h4>Próximas Etapas para Entrega</h4></li>
                <div id="milestones"></div>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <ul>
                <li><h4>Últimos Trabalhos</h4></li>
                <div id="lastProjects"></div>
            </ul>
        </div>
        <div class="large-6 columns">
            <ul>
                <li><h4>Últimas Notas e Comentários</h4></li>
                <div id="lastAvaliations"></div>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h3>Estatísticas</h3>
            // Todo: Fazer gráfico
        </div>
    </div>

    <script>

        var disciplines = [];
        @for(discipline <- disciplines) {
            disciplines.push({
                discipline: "@discipline.name",
                year: "@discipline.year",
                id: "@discipline.id"
            });
        };


        $("#disciplines").kendoGrid({
            columns: [
                {width:75, title: "Disciplina", field: "discipline", template: "<a href='/dashboard/discipline/${id}'>${discipline}</a>" },
                {width:25, title: "Ano",         field: "year"}
            ],
            dataSource: {
                data:disciplines
            },
            height:250,
            sortable: true,
            filterable: true
        });

        var milestones = [];
        @for(milestone <- milestones) {
            milestones.push({
                id_milestone: "@milestone.id",
                id_project: "@milestone.project.id",
                id_discipline: "@milestone.project.discipline.id",
                projectname: "@milestone.project.code",
                milestone: "@milestone.code",
                endDate: "@milestone.endDate.format("YYYY-MM-dd")"
            });
        };

        $("#milestones").kendoGrid({
            columns: [
                {width:45, title: "Projecto", field: "projectname", template: "<a href='/dashboard/discipline/${id_discipline}/project/${id_project}'>${projectname}</a>" },
                {width:35, title: "Etapa",    field: "milestone", template: "<a href='/dashboard/project/${id_project}/milestone/${id_milestone}'>${milestone}</a>" },
                {width:30, title: "Entrega",  field: "endDate", filterable: { ui: "datetimepicker" }}
            ],

            dataSource: {
            data:milestones
            },
            height:250,
            sortable: true,
            filterable: true
        });


        var lastProjects = [];
        @for(lastProject <- lastProjects) {
            lastProjects.push({
                projectname: "@lastProject.code",
                startDate: "@lastProject.startDate.format("YYYY-MM-dd")",
                endDate: "@lastProject.endDate.format("YYYY-MM-dd")"
            });
        };

        $("#lastProjects").kendoGrid({
            columns: [
                {width:45,  title: "Projecto", field: "projectname"},
                {width:35,  title: "Início", field: "startDate", filterable: { ui: "datetimepicker" }},
                {width:30,  title: "Entrega",  field: "endDate", filterable: { ui: "datetimepicker" }}
            ],

            dataSource: {
            data:lastProjects
            },
            height:250,
            sortable: true,
            filterable: true
        });


        var lastAvaliations = [];
        @for(lastAvaliation <- lastAvaliations) {
            lastAvaliations.push({
                projectname: "@lastAvaliation.milestone.project.code",
                codemilestone: "@lastAvaliation.milestone.code",
                avaliation: "@lastAvaliation.avaliation"
            });
        };


        $("#lastAvaliations").kendoGrid({
            columns: [
                {width:45,  title: "Projecto", field: "projectname" },
                {width:35, title: "Milestone",    field: "codemilestone"},
                {width:20,  title: "Nota",  field: "avaliation"}
            ],
            dataSource: {
            data:lastAvaliations
            },
            height:250,
            sortable: true,
            filterable: true
        });

    </script>
}
