.sidebar {
    background: #FAFAFA;
    padding: 32px 20px;
}

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
    padding: 4px 0px;
    font-size: 0.77778rem;
    font-weight: bold;
}

.zurb-footer-bottom {
    background: #333;
    padding: 24px 0 10px; }
.zurb-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px; }
.zurb-footer-bottom a.zurb-logo {
    color: #858585;
    font-weight: normal;
    background: url("../images/icon.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: 0.88889rem;
    display: inline-block;
    width: 90px; }
.zurb-footer-bottom a.zurb-logo:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
.zurb-footer-bottom ul.zurb-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px; }
.zurb-footer-bottom ul.zurb-links li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem; }
.zurb-footer-bottom ul.zurb-links li a {
    color: #666;
    padding: 3px 6px; }
.zurb-footer-bottom ul.zurb-links li a:hover {
    color: #777; }
.zurb-footer-bottom p.copyright {
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #666; }
.zurb-footer-bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px; }
.zurb-footer-bottom ul.home-social li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 10px; }
.zurb-footer-bottom ul.home-social li:first-child {
    margin-left: 0; }
.zurb-footer-bottom ul.home-social li a {
    display: block;
    height: 50px;
    width: 50px;}
.zurb-footer-bottom ul.home-social li a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
button.onTable, .button.onTable {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 0 0;
    font-size: 0.875rem;}