@(user: User, projects: List[Project])

@import helper._

@main(user) {

    <table id="projetos" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align: left; width: 5%">ID</th>
                <th style="text-align: left; width: 10%">Código</th>
                <th style="text-align: left; width: 30%">Título</th>
                <th style="text-align: left; width: 23%">Disciplina</th>
                <th style="text-align: left; width: 17%">Data de início</th>
                <th style="text-align: left; width: 15%">Data de fim</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="text-align: left;">ID</th>
                <th style="text-align: left;">Código</th>
                <th style="text-align: left;">Título</th>
                <th style="text-align: left;">Disciplina</th>
                <th style="text-align: left;">Data de início</th>
                <th style="text-align: left;">Data de fim</th>
                <th></th>
            </tr>
        </tfoot>
    </table>

    <hr/>

    <a href="/project/new" class="small button radius">Novo trabalho prático</a>

    <script type="text/javascript" charset="utf-8">

    var projetos = [];
        @for(p <- projects) {
            projetos.push({id: "@p.id",
            code: "@p.code",
            title: "<a href='/projects/@{p.id}'>@p.title</a>",
            discipline: "<a href='/disciplines/@{p.discipline.id}'>@p.discipline.name</a>",
            startDate: "@p.startDate.format("dd-MM-yyyy")",
            endDate: "@p.endDate.format("dd-MM-yyyy")",
            button: "<input type='submit' id=@{p.id} onclick='removerProjeto(@{p.id})' value='Apagar' class='small-centered button radius onTable'>"
            })
        };

    $('#projetos').DataTable( {
    language: {url: "@routes.Assets.at("js/Portuguese.json")"},
    data: projetos,
    columns: [
    { data: 'id' },
    { data: 'code' },
    { data: 'title' },
    { data: 'discipline' },
    { data: 'startDate' },
    { data: 'endDate' },
    { data: 'button'}
    ]
    });

    function removerProjeto(id){
    redirect('/projects/' + id + '/delete', 'post');
    }

    var redirect = function(url, method) {
    var form = document.createElement('form');
    form.method = method;
    form.action = url;
    form.submit();
    };

    </script>
}
