@(courses: java.util.List[Course], cursoForm: play.data.Form[Course])

@import helper._

@main() {
    <h1>@courses.size course(s)</h1>

    <ul>
    @for(course <- courses) {
        <li>
            @course.getCode()

            @form(routes.Courses.delete(course.getId())) {
                <input type="submit" value="Delete">
                }

        </li>
    }
    </ul>

    <h2>Add a new course</h2>

    @form(routes.Courses.create()) {

        @inputText(cursoForm("code"), '_label -> "Código")
        @textarea(cursoForm("description"), '_label -> "Descrição")

        <input type="submit" value="Create">

    }
}