@(user: User, courses: java.util.List[Course], cursoForm: play.data.Form[Course])

@import helper._

@main(user) {

    <h1>Cursos</h1>
    <table width="100%">
        <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Descrição</th>
            <th></th>
        </tr>
        @for(c <- courses) {
            <tr>
                <td align="center">@c.id</td>
                <td align="center">@c.code</td>
                <td align="center">@c.description</td>
                <td align="center">
                @form(routes.Courses.delete(c.id)) {
                    <input type="submit" value="Remover" class="small-centered button radius">
                    }
                </td>
            </tr>
        }
    </table>

    <hr/>

    <h2>Add a new course</h2>

    @form(routes.Courses.create()) {

        @inputText(cursoForm("code"), '_label -> "Código")
        @textarea(cursoForm("description"), '_label -> "Descrição")

        <input type="submit" value="Create">

    }
}