@(user: User, courses: List[Course])

@import helper._

@main(user) {

    <table id="cursos" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="text-align: left; width: 10%">ID</th>
                <th style="text-align: left; width: 30%">Código</th>
                <th style="text-align: center; width: 60%">Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="text-align: left;">ID</th>
                <th style="text-align: left;">Código</th>
                <th style="text-align: center;">Descrição</th>
                <th></th>
            </tr>
        </tfoot>
    </table>

    <hr/>

    <a href="/course/new" class="small button radius">Novo curso</a>

    <script type="text/javascript" charset="utf-8">

        var cursos = [];
            @for(c <- courses) {
                cursos.push({id: "@c.id",
                code: "@c.code",
                description: "<a href='/courses/@{c.id}'>@c.description</a>",
                button: "<input type='submit' id=@{c.id} onclick='removerCurso(@{c.id})' value='Apagar' class='small-centered button radius onTable'>"
            })
        };

        $('#cursos').DataTable( {
            language: {url: "@routes.Assets.at("js/Portuguese.json")"},
            data: cursos,
                columns: [
                    { data: 'id' },
                    { data: 'code' },
                    { data: 'description' },
                    { data: 'button'}
                ]
        });

        function removerCurso(id){
            redirect('/courses/' + id + '/delete', 'post');
        }

        var redirect = function(url, method) {
            var form = document.createElement('form');
            form.method = method;
            form.action = url;
            form.submit();
        };

    </script>
}