@(courses: List[Course], courseForm: Form[Course])

@import helper._

@main("Todo list") {
    <h1>@courses.size() course(s)</h1>

    <ul>
        @for(course <- courses) {
        <li>
            @course.code

            @form(routes.Courses.delete(course.id)) {
            <input type="submit" value="Delete">
            }
        </li>
        }
    </ul>

    <h2>Add a new course</h2>

    @form(routes.Courses.create()) {

    @inputText(courseForm("code"))
    @textarea(courseForm("description"))

    <input type="submit" value="Create">

    }
}