@(user: User, course: Course = null)

@import helper._

@template(update: Boolean) = {

    @if(update){
        <div>
            <label>ID: @course.id</label>
        </div>
        <br/>
    }

    <div>
        <label>Código
        <input name="code" @if(update){value="@{course.code}"} placeholder="Código" type="text">
        </label>
    </div>

    <div>
        <label>Descrição
        <input name="description" @if(update){value="@{course.description}"} placeholder="Descrição" type="text">
        </label>
    </div>
}

@main(user) {

    <div class="small-centered columns">
        <div class="panel radius">
            @if(course == null){
                @form(routes.Courses.save()){
                    @template(false)
                    <input class="button tiny radius" name="commit" type="submit" value="Guardar">
                }
            }else{
                @form(routes.Courses.update(course.id)){
                    @template(true)
                    <input class="button tiny radius" name="commit" type="submit" value="Atualizar">
                }
            }
        </div>
    </div>
}