@(user: User, course: Course = null)

@import helper._

@main(user) {

    <div class="small-centered columns">
        <div class="panel radius">

            @form(routes.Courses.update(course.id)) {

                <div>
                    <label>ID: @course.id</label>
                </div>

                <div>
                    <label>Código</label>
                    <input name="code" value="@{course.code}" placeholder="Código" type="text">
                </div>

                <div>
                    <label>Descrição</label>
                    <input name="description" value="@{course.description}" placeholder="Descrição" type="text">
                </div>

                <input class="button tiny radius" name="commit" type="submit" value="Atualizar">

            }

        </div>
    </div>

}